/*
font-family: 'Amiri', serif;
font-family: 'Chonburi', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Katibeh', cursive;
font-family: 'Yeseva One', cursive;
font-family: 'Playfair Display', serif;
font-family: 'EB Garamond', serif;
font-family: 'Old Standard TT', serif;
font-family: 'Scheherazade', serif;
font-family: 'Goudy Bookletter 1911', serif; */



#navbar {
    text-align: center;
    vertical-align: middle;
    
}

#a {
    font-family: 'Goudy Bookletter 1911', serif;
    padding: 100px;
    vertical-align: center;
    color:#2c4764;
    font-size: 30px;
}


#logo {
    height: 7%;
    width: 7%;
}



#orlandoSwampDiv {
    height: 100%;
    width: 100%;
    text-align: center;
}
#orlandoSwamp {
    height: 90%;
    width: 90%;
    align-items: center;
}



#blurb {
    text-align: center;
    padding: 40px;
    border-style: solid;
    width: 33.333%;
    
}
#bigtext{
    font-family: 'Chonburi', cursive;
}
#littletext {
    font-family: 'Goudy Bookletter 1911', serif;
}



/*third row of stuff */

#row3div {
    border-style: solid;
    text-align: center;
    width: 90%;
    align-content: center;
    padding: 40px;
}


#bonfire1 {
    height: 20%;
    width: 20%;
    float: left;
}

#bonfire2 {
    height: 20%;
    width: 20%;
    float: right;
}


#bonfire3 {
    height: 20%;
    width: 20%;
    float: center;
} 


#idk {

    text-align: center;
   
    float: left;

}

#mg {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    float: left;
    margin: 40px;
}


#mgtext {
    width: 30%;
    float: right;
    color: #2C4764;
    font-family: 'Goudy Bookletter 1911', serif;
}

#contacttext {
   color: #334e69;
   font-family: 'Yeseva One', cursive;
}




#sunsetreflection {
    opacity: 0.5;
    height: 101%;
    width: 101%;
    padding: 40px,0px,40px,0px;
}

#form {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #334e69;
}

#ace {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #334e69;
}

#bottomdiv {

}