/*
font-family: 'Amiri', serif;
font-family: 'Chonburi', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Katibeh', cursive;
font-family: 'Yeseva One', cursive;
font-family: 'Playfair Display', serif;
font-family: 'EB Garamond', serif;
font-family: 'Old Standard TT', serif;
font-family: 'Scheherazade', serif;
font-family: 'Goudy Bookletter 1911', serif; */



#navbar {
    text-align: center;
    vertical-align: middle;
}

#a {
    font-family: 'Goudy Bookletter 1911', serif;
    padding: 100px;
    vertical-align: center;
    color:#2c4764;
    font-size: 30px;
}


#logo {
    height: 7%;
    width: 7%;
}

#apple {
    width: 90%;
    text-align: center;
    margin: auto;
}


#c1 {
    float: left;
    margin: 11.2px;
}
#c2 {
    float: left;
    margin: 11.2px;
}
#c3 {
    float: right;
    margin: 11.2px;
}
#c4 {
    float: right;
    margin: 11.2px;
}


#card {
    border-style: solid;
    border-color: black;
}

#img {
    height: 60%;
    width: 60%;
    border-radius: 50%;
    float: center;
    margin: 5px;
}

#heading {
    font-family: 'Playfair Display', serif;
    size: 200px;
}

#text {
    font-family: 'Playfair Display', serif;
}

#codeviewbtn {
    align: center;
    size: 25px;
    margin:10px;
}

#icons {
    width: 90%;
    margin: auto;
    
}

#giticon {
    
}